<div class="container-fluid px-4">
    <h1 class="mt-4">Listado de Proveedores</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Listado Proveedores</li>
      </ol>
      <div class="row">
        <div class="col">
            <div *ngIf="proveedores.length === 0" class="alert alert-warning">
                No hay proveedores cargados en el sistema. Por favor, agrega proveedores.
              </div>
            <table *ngIf="proveedores.length > 0" class="table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre Proveedor</th>
                        <th scope="col">Sitio WEB</th>
                        <th scope="col">Email</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Contacto</th>
                        
                        <th scope="col">Baja/Modificación</th>
                    </tr>
                </thead>


                <tbody id="tableBody" class="table__body" *ngFor="let proveedor of proveedores, let i = index">
                    <tr>    
                        <td>{{proveedor.codigo_proveedor}}</td>
                        <th>{{proveedor.razon_social | titlecase}}</th>
                        <td>{{proveedor.web}}</td>
                        <td>{{proveedor.contacto.email_contacto}}</td>
                        <td>{{proveedor.contacto.telefono_contacto}}</td>
                        <td>{{proveedor.contacto.nombre_contacto}} {{proveedor.contacto.apellido_contacto}}</td>
                        <td><button (click)="editarProveedor(i, proveedor)"  class="btn btn-warning ">Editar</button><button (click)="eliminarProveedor(i)" class="btn btn-danger ">Eliminar</button></td>
                    </tr>

                </tbody>
        </table>
    </div>
  </div>
    </div>