<div class="row text-center m-2">
  <h2>Gestión de Categorias</h2>
</div>

<div class="container">
  <form #miForm="ngForm" (ngSubmit)="crearCategoria(miForm)">
    <div class="row justify-content-center">
      <div class="col-4">
        <button
          type="button"
          class="btn btn-primary m-1"
          routerLink="/productos/listado-productos"
        >
       Volver
        </button>
        <hr />
        <h3>Alta de Categoria</h3>
        <label for="">Nombre Categoria</label>
        <input
          type="text"
          class="form-control"
          name="nombre_categoria"
          placeholder="Ej: Alimentos"
          [(ngModel)]="newCategoria.nombre_categoria"
          required
        />
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 mt-2">
        <button type="submit" class="btn btn-outline-success">Crear</button>
      </div>
    </div>
  </form>
  <div class="row justify-content-center">
    <div class="col-4">
      <hr />
      <h3>Listado de Categorias</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let c of categorias"
            [ngClass]="{ 'categoria-inactiva': c.eliminada }"
          >
            <td>{{ c.nombre_categoria }}</td>
            <td class="text-center">
              <Button
                class="btn btn-outline-warning m-1"
                (click)="modificarCategoria(c.id, c.nombre_categoria)"
              >
              <img
              width="20"
              height="20"
              src="https://img.icons8.com/ios/50/edit--v1.png"
              alt="edit--v1"
            /></Button
              >
              <button
                *ngIf="!c.eliminada"
                class="btn btn-outline-danger"
                (click)="eliminarCategoria(c.id)"
              >
              <img
                      width="20"
                      height="20"
                      src="https://img.icons8.com/material-rounded/24/filled-trash.png"
                      alt="filled-trash"
                    />
              </button>
              <button
                *ngIf="c.eliminada"
                class="btn btn-outline-primary"
                (click)="altaCategoria(c.id)"
              >
              <img
                      width="20"
                      height="20"
                      src="https://img.icons8.com/windows/32/trash-restore.png"
                      alt="trash-restore"
                    />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
