table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 7px;
}

th {
    background-color: #f2f2f2;
}

.categoria-inactiva {
    background-color: #ccc; /* Color de fondo sombreado para categorías inactivas */
}