<div class="container-fluid px-4">
    <h1 class="mt-4">Listado de Ordenes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Listado de Ordenes de Compra</li>
      </ol>
      <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Número de Orden</th>
                        <th scope="col">Fecha de emisión</th>
                        <th scope="col">Fecha de entrega</th>
                        <th scope="col">Informacion de recepción (direc.)</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody id="tableBody" class="table__body"></tbody>
        </table>
    </div>
  </div>
    </div>