<div class="container-fluid px-4">
    <h1 class="mt-4">Listado de Ordenes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Listado de Ordenes de Compra</li>
      </ol>
      <div class="row">
        <div *ngIf="ordenes.length === 0" class="alert alert-warning">
            No hay ordenes de compra cargadas en el sistema. Realiza una compra para visualizarlas.
          </div>
        <div class="col">
            <table class="table" *ngIf="ordenes.length > 0">
                <thead>
                    <tr>
                        <th scope="col">Número de Orden</th>
                        <th scope="col">Fecha de emisión</th>
                        <th scope="col">Fecha de entrega</th>
                        <th scope="col">Dirección envío</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Unidades y precio</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Total</th>
                        <th scope="col">#Opciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody" class="table__body" *ngFor="let orden of ordenes, let i = index">
                    <tr>    
                        <th>{{orden.nro}}</th>
                        <td>{{orden.fecha | date}}</td>
                        <td>{{orden.fechaEntrega | date}}</td>
                        <td>{{orden.informacion | titlecase}}</td>
                        <td>{{orden.proveedor | titlecase}}</td>
                        <td><li *ngFor="let producto of orden.productos">{{ producto.nombre |titlecase }}</li></td>
                        <td><li *ngFor="let producto of orden.productos">{{ producto.cantidad }} a {{producto.precio | currency}}</li></td>
                        <td><li *ngFor="let producto of orden.productos">{{ producto.cantidad * producto.precio | currency }}</li></td>
                        <td><li>{{orden.total}}</li></td>
                        <td><button class="btn btn-warning" (click)="editarOrden(i, orden)">Editar</button><button class="btn btn-danger" (click)="eliminarOrden(i)">Eliminar</button></td>
                </tbody>
                
        </table>
    </div>
  </div>
    </div>