<div class="container px-4">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Proveedores</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Agregar Proveedor</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>+ Proveedores</h2>
      <form #formulario="ngForm" (ngSubmit)="guardarProveedor(formulario)">
        <div class="col">
          <hr>
          <h3>Datos del proveedor</h3>
        </div>
        <div class="row mb-2">
          <div class="col-md-2">
            <label for="codigo" class="form-label">Código único: </label>
            <input 
              name="codigo"
              class="form-control form__input mx-2"
              type= "text"
              placeholder="Código"
              id="codigoInput"
              minlength="4"
              maxlength="20"
              [(ngModel)]="proveedor.codigo_proveedor"

              [disabled]="modoEdicion"              
              required
            />           
           </div>
        <div class="col-md-3">
            <label for="razonSocial" class="form-label">Razón social: </label>
            <input
              name="razonSocial"
              class="form-control form__input mx-2"
              type= "text"
              placeholder="Nombre del Proveedor"
              id="razonInput"
              minlength="4"
              maxlength="20"
              [(ngModel)]="proveedor.razon_social"
              [disabled]="modoEdicion"
              required
              (ngModelChange)="validateRazonSocial($event)"
            />           
            <div *ngIf="proveedor.razon_social && razonSocialInvalid && proveedor.razon_social.length < 4" class="text-danger">
              La razón social debe tener al menos 4 caracteres.
            </div>
           </div>
          <div class="col-md-2">
            <label for="rubro" class="form-label">Rubro: </label>
            <select
              name="rubro"
              type="text"
              placeholder="Rubro"
              id="rubroInput"
              class="form-select form__input mx-2"
              [(ngModel)]="proveedor.rubro_proveedor.id"
              required
            >
            <option *ngFor="let rubro of rubros" [value]="rubro.id">{{ rubro.nombre_rubro }}</option>
          </select>
          </div>          
          <div class="col-md-3">
            <label for="rubro" class="form-label">WEB: </label>
            <input
              name="web"
              type="text"
              placeholder="URL"
              id="webInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.web"
              required
              (ngModelChange)="validarURL($event)"
            />
            <div *ngIf="webInvalid" class="text-danger">
              La URL debe tener un formato válido.
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mt-2 ">
              <label for="img" class="form-label">URL Imágen: </label>
              <input
                name="img"
                type="text"
                placeholder="Imagen del proveedor"
                id="imgInput"
                class="form-control form__input mx-2"
                [(ngModel)]="proveedor.img"              
              />

            </div>
          </div>
          <div class="row mb-3">
            <div class="row">
              <div class="col">
                <hr>
                <h3>Datos fiscales</h3>
              </div>
            </div>
            <div class="col-md-3">
              <label for="cuit" class="form-label">CUIT: </label>
              <input
                name="cuit"
                type="text"
                placeholder="CUIT"
                id="cuitInput"
                class="form-control form__input mx-2"
                [(ngModel)]="proveedor.cuit_proveedor"
                pattern="[0-9]{11}"
                [disabled]="modoEdicion"
                required
                maxlength="11"
                (ngModelChange)="validarCUIT($event)"
              />
              <div *ngIf="cuitInvalid" class="text-danger">
                El CUIT debe tener exactamente 11 números y no debe contener letras.
              </div>
            </div>
          <div class="col-md-2">
            <label for="iva" class="form-label">IVA: </label>
            <select
              class="form-select"
              name="iva"
              id="ivaInput"
              [(ngModel)]="proveedor.iva.id"
              required
            >
              <option *ngFor="let iva of condicionesIva" [value]="iva.id">{{ iva.nombre_iva }}</option>
            </select>
          </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="row">
            <div class="col">
              <hr>
              <h3>Dirección</h3>
            </div>
          </div>
          <div class="col-md-2">
            <label for="pais" class="form-label">Pais: </label>
            <select
              class="form-select"
              name="pais"
              id="paisInput"
              [(ngModel)]="proveedor.provincia.pais.id"
              (change) = "paisSeleccionado()"
              required
            >
            <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.nombre_pais }}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="provincia" class="form-label">Provincia: </label>
            <select
              name="provincia"
              type="text"
              placeholder="Provincia"
              id="provinciaInput"
              class="form-select form__input mx-2"
              [(ngModel)]="proveedor.provincia.id"
              required
            >
            <option *ngFor="let provincia of provincias" [value]="provincia.id">{{ provincia.nombre_provincia }}</option>
          </select>
        </div>
          <div class="col-md-2">
            <label for="localidad" class="form-label">Localidad: </label>
            <input
              name="localidad"
              type="text"
              placeholder="Localidad"
              id="localidadInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.localidad"
              required
            />
          </div>
       
          <div class="col-md-2">
            <label for="cp" class="form-label">Codigo Postal: </label>
            <input
              name="cp"
              type="text"
              placeholder="Código postal"
              id="cpInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.codigo_postal"
              minlength="4"
              maxlength="6"
              required
              (ngModelChange)="validarCP($event)"
              
            />
            <div *ngIf="cpInvalid" class="text-danger">
              El código postal debe tener entre 4 y 6 números.
            </div>
          </div>
          <div class="col-md-2">
            <label for="calle" class="form-label">Calle: </label>
            <input
              name="calle"
              type="text"
              placeholder="Ej: Calle Falsa"
              id="calleInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.calle"
              required
            />
          </div>
          <div class="col-md-1">
            <label for="calle" class="form-label">Nro Calle: </label>
            <input
              name="nrocalle"
              type="number"
              placeholder="Ej:123"
              id="nrocalleInput"
              min="0"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.numero_calle"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col">
              <hr>
              <h3>Datos de contacto</h3>
            </div>
          </div>
          <div class="col-md-2">
            <label for="nombre" class="form-label">Nombre: </label>
            <input
              name="nombre"
              type="text"
              placeholder="Nombre de contacto"
              id="nameInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.contacto.nombre_contacto"
              required
              minlength="4"
              maxlength="20"
              [disabled]="modoEdicion"
              (ngModelChange)="validarNombre($event)"
            />
            <div *ngIf="nombreInvalid" class="text-danger">
              El nombre debe tener al menos 4 caracteres y no debe contener caracteres especiales.
            </div>
          </div>
          <div class="col-md-2">
            <label for="nombre" class="form-label">Apellido: </label>
            <input
              name="apellido"
              type="text"
              placeholder="Apellido de contacto"
              id="apellidoInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.contacto.apellido_contacto"
              required
              minlength="4"
              maxlength="20"
              [disabled]="modoEdicion"
              (ngModelChange)="validarApellido($event)"
            />
            <div *ngIf="apellidoInvalid" class="text-danger">
              El apellido debe tener al menos 4 caracteres y no debe contener caracteres especiales.
            </div>
          </div>
          <div class="col-md-2">
            <label for="rol" class="form-label">Rol: </label>
            <input
              name="rol"
              type="text"
              placeholder="Rol del contacto"
              id="rolInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.contacto.rol"
              required
            />
          </div>
          <div class="col-md-3">
            <label for="email" class="form-label">eMail: </label>
            <input
              name="email"
              type="email"
              placeholder="eMail@email.com"
              id="emailInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.contacto.email_contacto"
              required
            />
          </div>
          <div class="col-md-2">
            <label for="telefono" class="form-label">Tel: </label>
            <input
              name="telefono"
              type="number"
              placeholder="Teléfono"
              id="telefonoInput"
              min="0"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.contacto.telefono_contacto"
              required
            />
          </div>

        </div>
        <div class="col-md-3">
          <hr>
          <button  type="submit" id="submitButton" class="btn btn-success p-2 m-2 ">
            {{ modificacion ? 'Actualizar' : 'Agregar' }}
          </button>
        <button
          type="button"
          class="btn btn-outline-warning p-2 m-2"
          (click)="resetearFormulario(formulario)"
          [attr.disabled]="modificacion ? true : null"

        >
        {{ modificacion ? 'Deshabilitado' : 'Limpiar formulario' }}
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
