<div class="container-fluid px-4">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Proveedores</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Agregar Proveedor</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>+ Proveedores</h1>
      <form #formulario="ngForm" (ngSubmit)="agregarProveedor(formulario)" >
      <div class="row mb-2">
        <div class="col">
          <label for="idInput" class="form-label">ID: </label>
          <input
            name="idInput"
            type="number"
            placeholder="Id del Proveedor"
            id="idInput"
            class="form-control form__input mx-2"
            [(ngModel)]="proveedor.id"
            required
            
          />
        
        </div>
        <div class="col">
          <label for="nameInput" class="form-label">Nombre: </label>
          <input
          name="nameInput"
            type="text"
            placeholder="Nombre del Proveedor"
            id="nameInput"
            class="form-control form__input mx-2"
            [(ngModel)]="proveedor.nombre"
          />
        </div>

        <div class="col">
          <label for="rubroInput" class="form-label">Rubro: </label>
          <input
          name="rubroInput"
            type="text"
            placeholder="Rubro"
            id="rubroInput"
            class="form-control form__input mx-2"
            [(ngModel)]="proveedor.rubro"
          />
        </div>
        <div class="col">
          <label for="razonInput" class="form-label">Razón social: </label>
          <select name="razonInput" id="razonInput"[(ngModel)]="proveedor.razonSocial">
            <option value="SRL">SRL</option>
            <option value="SA">SA</option>
            <option value="SAS">SAS</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3">
          <label for="cuitInput" class="form-label">CUIT: </label>
          <input
          name="cuitInput"
            type="number"
            placeholder="CUIT"
            id="cuitInput"
            class="form-control form__input mx-2"
            [(ngModel)]="proveedor.cuit"
          />
        </div>
        <div class="col-md-6">
          <label for="emailInput" class="form-label">eMail: </label>
          <input
          name="emailInput"
            type="email"
            placeholder="email"
            id="emailInput"
            class="form-control form__input mx-2"
            [(ngModel)]="proveedor.email"
          />
        </div>
      </div>
    </form>
      <div class="col-md-3">
        <button type="submit" id="submitButton" class="btn btn-success p-2 m-2">
          Agregar
        </button>
        <button type="button" class="btn btn-outline-warning  p-2 m-2" (click)="resetearFormulario1(formulario)">
          Limpiar Formulario
        </button>
      </div>
    </div>
  </div>
</div>
