<div class="container-fluid px-4">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Proveedores</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Agregar Proveedor</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>+ Proveedores</h2>
      <form #formulario="ngForm" (ngSubmit)="guardarProveedor(formulario)">
        <div class="row mb-2">
          <div class="col-md-3">
            <label for="nombre" class="form-label">Nombre: </label>
            <input
              name="nombre"
              type="text"
              placeholder="Nombre del Proveedor"
              id="nameInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.nombre"
              required
              minlength="4"
              maxlength="20"
              [disabled]="modoEdicion"
              (ngModelChange)="validarNombre()"
            />
            <span *ngIf="!nombreValido" class="text-danger">El nombre debe tener al menos 4 letras y no debe contener números.</span>
          </div>

          <div class="col-md-2">
            <label for="rubro" class="form-label">Rubro: </label>
            <input
              name="rubro"
              type="text"
              placeholder="Rubro"
              id="rubroInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.rubro"
              required
            />
          </div>
          <div class="col-md-2">
            <label for="razonSocial" class="form-label">Razón social: </label>
            <select
              class="form-select"
              name="razonSocial"
              id="razonInput"
              [(ngModel)]="proveedor.razonSocial"
              required
            >
            <option [value]="undefined" disabled selected>Selecciona una opcion</option>
              <option value="SRL">SRL</option>
              <option value="SA">SA</option>
              <option value="SAS">SAS</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="cuit" class="form-label">CUIT: </label>
            <input
              name="cuit"
              type="text"
              placeholder="CUIT"
              id="cuitInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.cuit"
              minlength="11"
              maxlength="11"
              (input)="validarCuit()"
              pattern="[0-9]*" 
              [disabled]="modoEdicion"
              required
            />
            <span *ngIf="!cuitValido" class="text-danger">El CUIT debe tener 11 dígitos.</span>
          </div>
          <div class="col-md-1">
            <label for="iva" class="form-label">IVA: </label>
            <select
              class="form-select"
              name="iva"
              id="ivaInput"
              [(ngModel)]="proveedor.iva"
              required
            >
              <option value="RI">Responsable Inscripto</option>
              <option value="M">Monotributista</option>
              <option value="EX">Exento</option>
              <option value="CF">Consumidor Final</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2">
            <label for="calle" class="form-label">Calle y nro: </label>
            <input
              name="calle"
              type="text"
              placeholder="Ej: Calle Falsa 123"
              id="calleInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.calle"
              required
            />
          </div>
          <div class="col-md-2">
            <label for="localidad" class="form-label">Localidad: </label>
            <input
              name="localidad"
              type="text"
              placeholder="Localidad"
              id="localidadInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.localidad"
              required
            />
          </div>
          <div class="col-md-2">
            <label for="cp" class="form-label">Codigo Postal: </label>
            <input
              name="cp"
              type="text"
              placeholder="Código postal"
              id="cpInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.cp"
              minlength="4"
              maxlength="6"
              required
              (ngModelChange)="validarCp()"
              
            />
            <span *ngIf="!cpValido" class="text-danger">El CP debe tener entre 4 y 6 dígitos.</span>
          </div>
          <div class="col-md-2">
            <label for="provincia" class="form-label">Provincia: </label>
            <input
              name="provincia"
              type="text"
              placeholder="Provincia"
              id="provinciaInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.provincia"
              required
            />
          </div>
          <div class="col-md-1">
            <label for="pais" class="form-label">Pais: </label>
            <select
              class="form-select"
              name="pais"
              id="paisInput"
              [(ngModel)]="proveedor.pais"
              required
            >
              <option value="ARG">Argentina</option>
              <option value="URU">Uruguay</option>
              <option value="BRA">Brasil</option>
              <option value="CHI">Chile</option>
            </select>
          </div>
          
          <div class="col-md-3">
            <label for="email" class="form-label">eMail: </label>
            <input
              name="email"
              type="email"
              placeholder="eMail@email.com"
              id="emailInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.email"
              required
            />
          </div>
          <div class="col-md-3 ">
            <label for="telefono" class="form-label">Tel: </label>
            <input
              name="telefono"
              type="number"
              placeholder="Teléfono"
              id="telefonoInput"
              class="form-control form__input mx-2"
              [(ngModel)]="proveedor.telefono"
              required
            />
          </div>
        </div>
        <div class="col-md-3">
          <button type="submit" id="submitButton" class="btn btn-success p-2 m-2">
            {{ modoEdicion ? 'Actualizar' : 'Agregar' }}
          </button>
        <button
          type="button"
          class="btn btn-outline-warning p-2 m-2"
          (click)="resetearFormulario1(formulario)"
          [attr.disabled]="modoEdicion ? true : null"

        >
        {{ modoEdicion ? 'Deshabilitado' : 'Limpiar formulario' }}
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
