<!-- 
<nav id="sidebar" >
  <div class="sidebar-header">
      <h3>Empresa X</h3>
  </div>
<div id="layoutSidenav"  class="vh-100">
  <div id="layoutSidenav_nav" class="col">
    <nav class="sb-sidenav accordion " id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Principal</div>
          <a class="nav-link" routerLink="">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <p>Inicio</p>
          </a>
          <div class="sb-sidenav-menu-heading">Interfaz</div>
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#collapseLayouts"
            aria-expanded="false"
            aria-controls="collapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            <p>Proveedores</p>
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div
            class="collapse"
            id="collapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" routerLink="proveedores/listado-proveedores"
                ><p>Listado proveedores</p></a
              >
              <a class="nav-link" routerLink="proveedores/alta-proveedores"
                ><p>Agregar Proveedor</p></a
              >
            </nav>
          </div>
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#collapsePages"
            aria-expanded="false"
            aria-controls="collapsePages"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            <p>Productos</p>
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div
            class="collapse"
            id="collapsePages"
            aria-labelledby="headingTwo"
            data-bs-parent="#sidenavAccordion"
          >
            <nav
              class="sb-sidenav-menu-nested nav accordion"
              id="sidenavAccordionPages"
            >
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" routerLink="productos/listado-productos"
                  ><p>Listado productos</p></a
                >
                <a class="nav-link" routerLink="productos/alta-productos"
                  ><p>Agregar Producto</p></a
                >
              </nav>
            </nav>
          </div>
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#collapsePages1"
            aria-expanded="false"
            aria-controls="collapsePages"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            <p>Ordenes de compras</p>
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div
            class="collapse"
            id="collapsePages1"
            aria-labelledby="headingThree"
            data-bs-parent="#sidenavAccordion"
          >
            <nav
              class="sb-sidenav-menu-nested nav accordion"
              id="sidenavAccordionPages"
            >
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" routerLink="ordenes-compra/listado-ordenes"
                  ><p>Listado ordenes de compra</p></a
                >
                <a class="nav-link" routerLink="ordenes-compra/alta-ordenes"
                  ><p>Agregar Orden de compra</p></a
                >
              </nav>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
</nav> -->
<nav class="sticky-lg-top  navbar navbar-expand-lg navbar-light bg-light py-4">
  <div class="container-fluid">
    <div class="d-flex">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn  px-3"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
      >
      <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/menu--v6.png" alt="menu--v6"/>
      </button>
    </div>
    <div class="navbar-brand mx-auto">ASJ SERVICIOS</div>
  </div>

</nav>

<!-- Sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">ASJ SERVICIOS</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <h4><a href="#" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#submenu-dashboard" aria-expanded="false">
          Dashboard
        </a></h4>
      </li>
      <li class="nav-item">
        <h4><a href="#" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#submenu-prov" aria-expanded="false">
          Proveedores
        </a></h4>
        <div class="collapse" id="submenu-prov" data-bs-parent="#sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="proveedores/listado-proveedores" data-bs-dismiss="offcanvas">
                <p>Listado proveedores</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="proveedores/alta-proveedores" data-bs-dismiss="offcanvas">
                <p>Agregar Proveedor</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <h4><a href="#" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#submenu-prod" aria-expanded="false">
          Productos
        </a></h4>
        <div class="collapse" id="submenu-prod" data-bs-parent="#sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="productos/listado-productos" data-bs-dismiss="offcanvas">
                <p>Listado productos</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="productos/alta-productos" data-bs-dismiss="offcanvas">
                <p>Agregar Producto</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <h4><a href="#" class="nav-link link-dark" data-bs-toggle="collapse" data-bs-target="#submenu-orders" aria-expanded="false">
          Ordenes de compra
        </a></h4>
        <div class="collapse" id="submenu-orders" data-bs-parent="#sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="ordenes-compra/listado-ordenes" data-bs-dismiss="offcanvas">
                <p>Listado ordenes de compra</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="ordenes-compra/alta-ordenes" data-bs-dismiss="offcanvas">
                <p>Agregar Orden de compra</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
