
    <div class="d-flex align-items-center justify-content-center container-fluid p-4 text-bg-light p-5  ">
        <h1 class="mt-4">Bienvenido/a a <span class="text-warning ">EmpresaX</span> </h1>

    </div>
    <div class="d-flex align-items-center justify-content-center container-fluid p-4">
        <h2>Somos la empresa que buscabas (creo)</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center container-fluid p-4">
        <h4>(Utiliza la barra lateral para navegar)</h4>
    </div>
