<div class="container px-4">
  <div class="row d-flex">
    <div class="col">
      <h1 class="mt-4">Productos</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Agregar Productos</li>
      </ol>
    </div>
  </div>
  <h2>+ Productos</h2>
  <form #formulario="ngForm" (ngSubmit)="guardarProducto(formulario)">
    <div id="formRegister" class="crud__form">
      <div class="row">
        <hr>
        <div class="col-md-3">
          <label for="nombre" class="form-label">Producto: </label>
          <input
            name="nombre"
            type="text"
            placeholder="Nombre del Producto"
            class="form-control form__input "
            [(ngModel)]="producto.nombre_producto"
            required
          />
        </div>
        <div class="col-md-2">
          <label for="codigo" class="form-label">Código/SKU: </label>
          <input
            name="codigo"
            type="text"
            placeholder="Codigo/SKU"
            [disabled]="modificacion"
            class="form-control form__input"
            [(ngModel)]="producto.codigo_sku"
            required
          />
        </div>

        <div class="col-md-4">
          <label for="nombreProv" class="form-label">Proveedor: </label>
          <select
            class="form-select"
            name="proveed"
            [disabled]="modificacion"
            [(ngModel)]="producto.proveedor.id"
            required
          >
            <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
              {{ proveedor.razon_social }}
            </option>
          </select>
        </div>

        <div class="col-md-3">
          <label for="categoria" class="form-label">Categoría: </label>
          <select
            class="form-select"
            name="categoria"
            [(ngModel)]="producto.categoria.id"
            required
          >
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.nombre_categoria }}
          </option>
          </select>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="descripcion" class="form-label"
              >Descripción del producto:
            </label>
            <textarea
              name="descripcion"
              type="text"
              placeholder="Descripción"
              class="form-control form__input"
              [(ngModel)]="producto.descripcion"
            ></textarea>
          </div>
          <div class="col-md-2">
            <label for="precio" class="form-label">Precio:</label>
            <input
              name="precio"
              type="number"
              min="0"
              placeholder="$"
              class="form-control form__input"
              [(ngModel)]="producto.precio_producto"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="url" class="form-label">URL Imágen: </label>
            <input
              name="url"
              type="text"
              placeholder="URL imagen"
              class="form-control form__input"
              [(ngModel)]="producto.url_img"
            />
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" id="submitButton" class="btn btn-success">
                {{ modificacion ? "Actualizar" : "Agregar" }}
              </button>

              <button
                type="button"
                class="btn btn-outline-warning p-2 m-2"
                (click)="resetearFormulario(formulario)"
                [disabled]="modificacion"
              >
                {{ modificacion ? "Deshabilitado" : "Limpiar formulario" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
