<div class="container-fluid px-4">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Ordenes de compra</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">OrdenesCompra</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>+ Ordenes de compra</h2>
      <form #formulario="ngForm" (ngSubmit)="guardarOrden(formulario)">
        <div class="row mb-2">
          <div class="col-md-2">
            <label for="nro" class="form-label">Número de Orden: </label>
            <input
              name="nro"
              type="number"
              placeholder="Nro de orden"
              class="form-control form__input mx-2"
              [disabled]="modificacion"
              [(ngModel)]="orden.numero_orden"
              required
            />
          </div>

          <div class="col-md-2">
            <label for="fecha" class="form-label">Fecha emisión: </label>
         <!--    <input
              name="fecha"
              type="date"
              placeholder="Fecha de emisión"
              class="form-control form__input mx-2"
              [disabled]="modificacion"
              [(ngModel)]="orden.fecha_emision"
              required
              readonly 
            /> -->
            <p class="mt-2">{{ orden.fecha_emision | date:'dd/MM/yyyy' }}</p>
          </div>
          <div class="col-md-2">
            <label for="fechaEntrega" class="form-label">Fecha entrega: </label>
            <input
              name="fechaEntrega"
              type="date"
              placeholder="Fecha de entrega"
              class="form-control form__input mx-2"
              [(ngModel)]="orden.fecha_entrega_esperada"
              required
            />
          </div>
          <div class="mb-3 col-md-4">
            <label for="informacion" class="form-label"
              >Información adicional:
            </label>
            <textarea
              name="informacion"
              type="text"
              placeholder="Más info..."
              class="form-control form__input"
              [(ngModel)]="orden.informacion_orden"
              required
            >
            </textarea>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="proveedor" class="form-label">Proveedor: </label>
            <select
     
              class="form-select"
              name="idProveedor"
              type="number"
              [disabled]="modificacion || selectProveedorBloqueado"
              [(ngModel)]="orden.proveedor.id"
              (change)="onProveedorChange(orden.proveedor.id)"
              required
            >
              <option
                *ngFor="let proveedor of proveedores"
                [value]="proveedor.id"
              >
                {{ proveedor.razon_social }}
              </option>
            </select>
          </div>
          <div class="col-md-8">
            
            <div *ngIf="orden.proveedor.id !== null" class="col">
              <h3>Productos:</h3>
              <select
              #productoSelect
              class="form-select"
              name="producto"
              [disabled]="modificacion"
                [(ngModel)]="detalle.producto.id"
                required
                >
                <option
                *ngFor="let producto of productosFiltrados"
                [value]="producto.id"
                >
                {{ producto.nombre_producto }}:
                {{ producto.precio_producto | currency }}
                </option>
              </select>

              <label class="form-label mx-3 ">Cantidad:</label>
              <input
                #cantidad
                name="cantidad"
                type="number"
                min="0"
                value="undefined"
                placeholder="Cantidad"
                class="form-control-sm mt-3"
                [(ngModel)]="detalle.cantidad_producto"
              />
              <a class="btn btn-primary mx-3 " (click)="llenarListado(detalle.producto.id , detalle.cantidad_producto)">Agregar al listado</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#img</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio unitario</th>
                  <th scope="col">SubTotal($ARS)</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody
                id="tableBody"
                class="table__body"
                *ngFor="let detalle of detallesProductos let i = index"
              >
                <tr>
                  <td><img  src="{{ detalle.producto.url_img }}" alt="ImagenNotFound"></td>
                  <th>{{ detalle.producto.nombre_producto }}</th>
                  <td>{{ detalle.cantidad_producto }}</td>
                  <td>{{ detalle.precio_hist | currency }}</td>
                  <td>{{ detalle.total | currency }}</td>
                  <td>
                
                    <button class="btn btn-outline-danger" (click)="eliminarProducto(detalle.producto.id)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <p class="h3 m-3">Total: ({{ detalle.total | currency}})</p>
        <br />
        <div class="mb-3">
          <button
            type="submit"
            id="submitButton"
            class="btn btn-success p-2 m-2"
          >
            {{ modificacion ? "Actualizar" : "Agregar" }}
          </button>
          <button
            type="button"
            class="btn btn-outline-danger p-2 m-2"
            (click)="resetearFormulario1(formulario)"
            [attr.disable]="modificacion ? true : null"
          >
            {{ modificacion ? "Deshabilitado" : "Cancelar orden" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
