<div class="container-fluid px-4">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Listado de Productos</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="">Inicio</a></li>
        <li class="breadcrumb-item active">Listado de Productos</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="p-5">Productos</h3>
      <div class="container">
        <div id="productCards" class="card" style="width: 35rem"></div>
      </div>
    </div>
  </div>
</div>
